/* css reset */
#top-con{
    background: rgb(61,51,208) center no-repeat url(../img/top-img.jpg) ;
    height: 80px;
    display: block;
}
#header{
    background: #f2f2f2;
    height: 32px;
    line-height: 32px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0,30);
}
#quick-menu{
    float: right;
}
#login-info{
    float: left;
}
#quick-menu > li{
    float: left;
    padding:0 14px;
    cursor: pointer;
    position: relative;
}
#header a,#login-info span,.submenu{
    font-size: 12px;
    color: #999;
}
#login-info a{
    margin-left:10px;
}
#login-info a:hover{
    color: #FF0036;
}
#quick-menu .iconfont{
    color: #FF0036;
    font-size: 12px;
}
#quick-menu .split{
    height: 14px;
    width: 1px;
    margin:9px 0 0 14px;
    background: #ccc;
    padding: 0;
}
#quick-menu a:hover{
    color: #FF0036;
}
#quick-menu .listytle:hover {
    background: #ffffff;
}
#quick-menu .listytle::after{
    content: '';
    width: 0;
    border-width:3px;
    border-style: solid;
    border-color: #bbbbbb transparent transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    right: 4px;
}
#quick-menu .listytle:hover::after{
    transform: rotate(180deg);
    transform-origin:3px 1.5px;
    transition:transform .5s ease;
}
#quick-menu .submenu{
    display: none;
    position: absolute;
    width: 74px;
    background: #fff;

}
#quick-menu :hover .submenu{
    display:block;
}
#quick-menu .submenu li:hover{
    color: #FF0036;
    text-decoration: underline;
}
#quick-menu .submenu > a{
    display: block;
    position: absolute;
}
.listytle{
    position: relative;
}
.ew:hover .ew1{
    display: block;
}
.ew1{
display: none;
    position: absolute;
    width: 175px;
    height: 227px;
    background: #fff url(../favicon.ico) no-repeat center;
    left: -48px;
    top: 26px;
}
.ew .ew1 b{
    width: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -2px;
    border-width: 5px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #fff;
}
.menu-bd {
    width: 122px;
    position: absolute;
    display: none;
    background: #ffffff;

}
.menu-bd li{
    border-bottom: 1px dotted #827777
}
.listytle:hover .menu-bd {
    display: inline-block;
}
.menu-bd a{
    width:48px;
    margin-right: 10px;
}
.site-list h3{
    color: #f56a00;
    font-size: 16px;
    padding-bottom: 8px;
}
.dh{
    position: absolute;
    display: none;
}
#logo-search{
    margin-top:2px;
}
#logo{
    float: left;
}
#logo-search .wrapper .search{
    float: left;
    margin-top: 38px;
}
.search form{
    width: 625px;
    height: 36px;
    border: 2px solid #FF0036;
}
.search .search-ipt{
    width: 493px;
    height: 36px;
    outline: none;
    border: none;
    font-size: 18px;
    text-indent: 10px;
}
.search .search-btn {
    width: 128px;
    height: 36px;
    border: none;
    float:right;
    outline:none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 5px;
    background: #FF0036;
}
.hot-query{
    margin-top:4px;
}
.search .hot{
    float: left;
    border-right:1px solid #999;
    padding:0 12px;
}
.search .hot a{
    color: #999999;
    font-size: 14px;
}
.search .hot-red a{
    color:#FF0036;
}
.search .last{
    border-right: none;
}




