<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/reg" method="post">
        用户名：<input type="text" name='uname' id='uNa'><br/>
        密码：<input type="password" name='pass' id='pwd'><br/>
        <input type="submit" name='sub' value='注册'>
    </form>
    <script src='javascripts/jquery-3.3.1.min.js'></script>
<script>
    $('#uNa').blur(function(){
        var val = $(this).val();
        $.post('/checkname','username='+val,function(data){
            if(data == 'success'){
                $('#uNa').after('<span>用户名已存在</span>');
            }
        },'text');
    })

    $('#pwd').blur(function(){
        var val = $(this).val();
        $.post('/check','password='+val,function(data){
           console.log(data);
           
        },'text');
    })
</script>
</body>
</html>